@use 'styleVar';

html {
  @include styleVar.initStyleVars;
  font-size: styleVar.$htmlFontSize;
}

body {
  font-size: 2.2rem;
}

b {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}
