@use 'styleVar';

html {
  @include styleVar.initStyleVars;
  font-size: styleVar.$htmlFontSize;
}

body {
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: styleVar.$mainFont;
  color: styleVar.$primaryFontColor;
}

b {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}
