.dropFileWrapper {
  width: 100%;
}

.dropFile {
  width: 100%;
  height: 100px;
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instruction {
  font-weight: bold;
}

.filePickerWrapper {


}

.currentFile {
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.isOver {
  background-color: teal;
}
