@use '../style/styleVar';

.main {
  height: 100%;
  background-color: white;

  :global(.cm-foldGutter) {
    display: none !important;
  }
}

.numberingContainerDiv {
  min-width: 2em;
  max-width: 2em;
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.ballNumberMarker {
  background-color: styleVar.$infoFgColor;
  color: styleVar.$infoBgColor;
  border-radius: 50%;
  padding: 0 2px;
  text-align: center;
  width: 2em;
}

.ballRefMarkerContainer {
  display: flex;
  justify-content: space-between;
}

.isBaseBall {
  font-weight: bold;
}

.ballRefMarker {
  &:only-child {
    margin-left: auto;
  }

  cursor: pointer;
  width: 2.6em;

  &:hover {
    opacity: .8;
  }

  margin-right: 5px;
  color: white;
  background-color: styleVar.$infoFgColor;
  padding: 0 2px;
  height: 100%;

  &.missingRef {
    background-color: styleVar.$errorFgColor;
  }

  &.errorRef {
    background-color: styleVar.$errorFgColor;
  }


  @each $name, $color in styleVar.$zones {
    &:global(.zone-#{$name}) {
      background-color: $color;
    }
  }
}

.tooltip {
  .tags {
    .zone {
      margin-left: 5px;
      padding: 0 4px;
      border-radius: 2px;
      @each $name, $color in styleVar.$zones {
        &:global(.zone-#{$name}) {
          background-color: $color;
        }
      }
    }

    display: flex;
    justify-items: left;
  }

  .line {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 5px;
  }

  .baseBall {
    font-weight: bold;
  }

  .spacer {
    margin-right: 5px;
  }

  .error {
    background-color: styleVar.$errorFgColor;
  }

  .first {
    font-size: 2.2rem;
    margin-bottom: 4px;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}
