@use '../style/styleVar';

.main {
  height: 100%;
  background-color: white;

  :global(.cm-foldGutter) {
    display: none !important;
  }
}

.ballNumber {
  background-color: styleVar.$infoFgColor;
  color: styleVar.$infoBgColor;
  border-radius: 50%;
  padding: 0 2px;
  text-align: center;
  cursor: default;
  height: 100%;
}

.ballRefMarkerContainer {
  display: flex;
}

.ballRefMarker {
  cursor: default;
  margin-right: 5px;
  color: white;
  background-color: styleVar.$infoFgColor;
  padding: 2px;

  &.missingRef {
    background-color: styleVar.$errorFgColor;
  }

  &.errorRef {
    background-color: styleVar.$errorFgColor;
  }

  &.isBaseBall {
    font-weight: bold;
  }

  @each $name, $color in styleVar.$zones {
    &:global(.zone-#{$name}) {
      background-color: $color;
    }
  }
}

.tooltip {
  .tags {
    .zone {
      margin-left: 5px;
      padding: 0 4px;
      border-radius: 2px;
      @each $name, $color in styleVar.$zones {
        &:global(.zone-#{$name}) {
          background-color: $color;
        }
      }
    }

    display: flex;
    justify-items: left;
  }

  .line {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 5px;
  }

  .baseBall {
    font-weight: bold;
  }

  .spacer {
    margin-right: 5px;
  }

  .error {
    background-color: styleVar.$errorFgColor;
  }

  .first {
    font-size: 2.2rem;
    margin-bottom: 4px;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}
