@use '../style/styleVar';
@use '../style/mixins';


.main {
  background-color: styleVar.$buttonBgColor;
  color: styleVar.$buttonFontColor;
  cursor: pointer;
  font-weight: bold;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include mixins.defaultStates {
    border-style: solid;
    border-color: styleVar.$panelBorderColor;
  }
  text-align: start;

  .icon {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &:disabled {
    filter: grayscale(0.9);
  }

  &:not(:disabled):hover {
    background-color: styleVar.$buttonBgHoverColor;
    color: styleVar.$buttonFontHoverColor;
  }

  &:not(:hover).active {
    background-color: styleVar.$buttonBgActiveColor;
    color: styleVar.$buttonFontActiveColor;
  }

  &.small {
    padding: 2px 4px;

    &.iconOnly {
      padding: 2px 2px;
    }

    font-size: 1.8rem;
    border-radius: 3px;
    border-width: 1px;
  }

  &.normal {
    padding: 4px 8px;

    &.iconOnly {
      padding: 6px 6px;
    }

    font-size: 2rem;
    border-radius: 7px;
    border-width: 2px;
  }

  &.large {
    padding: 8px 16px;

    &.iconOnly {
      padding: 8px 8px;
    }

    font-size: 2.4rem;
    border-radius: 10px;
    border-width: 3px;
  }
}
