@use '../style/styleVar';

.main {
  padding: 10px 40px;
  display: flex;
}

.col {
  flex-grow: 1;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.buttons {
  display: flex;

  > * {
    margin-right: 10px;
  }
}

.result {
  margin-top: 20px;
  min-width: 10px;
  min-height: 10px;

  textarea {
    padding: 10px;
    color: styleVar.$editorPrimaryFontColor;
    background-color: styleVar.$editorBg;
    width: 100%;
    height: 300px;
  }
}
