.main {
  padding: 10px 40px;
}

.form {
}

.formRow {
  width: 400px;
}

.row {
}

.validation {
  padding: 20px;
  background-color: black;

  &.invalid {
    color: lightcoral;
  }

  &.valid {
    color: lightgreen;
  }
}

.warn {
  background-color: lightyellow;
}
