@use '../style/styleVar';

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rcData {
  overflow: hidden;
}

.rcDataRow {
}

.rcDataLabel {
  font-size: 2rem;
}

.rcDataValue {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.externalBackups {
}

.centerContentClass {
  overflow: hidden;
}

.editorTextAreaWrapper {
  flex-grow: 1;
  padding-bottom: 10px;
  min-height: 0;
}

.previewImageWrapper {
  img {
    width: 400px;
  }
}

.editorTextArea {
  height: 100%;
}

.backup {
  display: flex;
}

.tabLeftLnzSections {
  display: flex;
  flex-direction: column;

  > div {
    width: 100%;
    margin-bottom: 3px;
    padding: 0 3px;

    button {
      width: 100%;
    }
  }
}

.heading {
  display: flex;
  align-items: center;
  font-size: 3rem;
  white-space: nowrap;

  button {
    margin-left: 10px;
    white-space: nowrap;
  }
}

.headerFilePath {
  margin-left: 10px;
  font-size: 2rem;
  white-space: normal;
}

.backup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
