@use '../style/styleVar';

.main {
}

.infoRow {
  display: flex;
  padding: 5px 10px;
  background-color: styleVar.$themeSecondaryBgColor;
  margin-bottom: 5px;
}

.projectName {
  width: 200px;
}

.currentName {
  width: 200px;
}

.originalName {
  width: 200px;
}


.dateDistance {
  width: 130px;
}

.date {
  width: 180px;
}

.backups {
  width: 50px;
}
