@use '../style/styleVar';

.banner {
  background-color: styleVar.$localVar1;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: 3rem;
  margin-bottom: 10px;
}

.body {
  padding: 15px;
}

.buttons {
  padding: 15px;
}
