.main {
  background-color: #e1e1e1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: darkorange;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 3px transparentize(black, 0.5);
}

.logoArea {
  .logo {
    font-size: 2.4rem;
    font-weight: bold;
  }

  .version {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.tabsWrapper {
  margin-left: 20px;
}

.mainContent {
  overflow: auto;
}

.tabs {
  display: flex;
}

.tab {
  padding: 5px 10px;
  font-weight: bold;
  background-color: blue;
  margin-right: 5px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: darkblue;
  }

  &.tabActive {
    background-color: purple;
  }
}
