@use '../style/styleVar';

.main {
  background-color: styleVar.$themePrimaryBgColor;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
}

.logoImg {
  position: absolute;
  top: 0;
  left: -15px;
  transform: scaleX(-1);

  img {
    width: 110px;
  }
}

.logoArea {
  margin-left: 90px;

  .logo {
    font-size: 2.4rem;
    font-weight: bold;
  }

  .version {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.tabsWrapper {
  margin-left: 20px;
  flex-grow: 1;
}

.zoom {
  display: flex;
  justify-content: flex-end;

  > * {
    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}

.mainContent {
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  flex-grow: 1;
}

.centerContent {
  flex-grow: 1;
  overflow: auto;
}

.leftBar,
.rightBar {
  flex-shrink: 0;
  width: 250px;
  background-color: styleVar.$themeSecondaryBgColor;
  margin: 10px;
  border: solid 2px styleVar.$panelBorderColor;
  border-radius: 10px;
  overflow: auto;
}

.rightBar {
  width: 150px;
}

.tabs {
  display: flex;

  > * {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 10px;
  }
}

.actions {

  button {
    width: 100%;
  }
}
