name: Test

on: [ push ]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # os: [ macos-latest, windows-latest, ubuntu-latest ]
        os: [ windows-latest ]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5

      - name: Install Node.js and NPM
        uses: actions/setup-node@v6
        with:
          node-version: 23.3.0
          cache: yarn

      - name: yarn install
        run: |
          yarn install --network-timeout 1000000
      - name: yarn run typecheck
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn run typecheck
      - name: yarn run lint
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn run lint

      - name: yarn test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn run package
          yarn test
